@font-face {
	font-family: agrandir;
	src: url(agrandir.otf);
}

@font-face {
	font-family: poppins;
	src: url(Poppins-Medium.ttf);
}

@font-face {
	font-family: poppinsreg;
	src: url(Poppins-Regular.ttf);
}

#logo {
	position: absolute;
    left: 2.8em;
    top: 1.07em;
}

#titre
{
	padding-top: 2.85em;
	font-size: 17px;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: agrandir;
	font-weight: normal;
}

#menu
{
	padding-top: 15px;
	color: rgb(0, 0, 0);
	text-align: center;
	margin-bottom: 20px;
	
}



#DA
{
	font-family: agrandir;
	font-size: 13px;
	padding-bottom: 30px;
}

#menu a {
	margin-left: 20px;
	font-family: agrandir;
	font-style: bold;
	color: black;
	font-size: 13px;
	text-decoration: none;

}
#menu h2 {
	word-spacing: 200px;
}

#gallery {
	display: flex;
  }
  
#gallery .column {

	flex: 50%;
  }



.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}



#columnscontact {
	display: flex;
  }
  
#columnscontact .column {
	padding-left: 150px;
	padding-right: 150px;
	flex: 50%;
  }




#menu img {

	width: 50px;
	height: auto;
	float: right;
	position: absolute;
	top: 40px;
	right: 40px;
}

#column2 {
	padding-top: 130px;
}
.title {
	font-size: 17px;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: agrandir;
	font-weight: normal;
}

#Experienceprotitre {
	padding-top: 90px;
	padding-bottom: 20px;
}

.blackline {
	margin-bottom: 80px;
}

.etude {
	
}

#photo6 {
	width: 600px;
}

#photo14 {
	width: 600px;

}

#photo5 {
	margin-top: 7.15em;
	width: 42.8em;
}

#photo15 {
	width: 35em;
}

#photo13 {
	width: 25.8em;

}
#photo17 {
	width: 42em;

}
#photo16 {
	width: 35em;

}
#photo12 {
	width: 35em;

}

#photo8 {
	position: relative;
	width: 35em;
	display: block;
}

.firstrightelement {
	margin-top:-7em;

}

.posterblue {
	position: absolute;
	margin-left: 7.14em;
	margin-top: -3.57em;
	border: 0.07em solid rgb(0, 0, 0);
}

.posterorange {
	margin-left: 8.2em;
	margin-top: -57.14em;
	position: absolute;
	border: 0.07em solid rgb(0, 0, 0);
}

.orangeball {
	margin-top: 371px;
	
}

.blue {
	position: relative;
	margin-left: 217px;
	margin-top: 125px;
}

.red {
	padding-bottom: 50px;
}

.firstimage {
	margin-top: -900px;
	position: relative;
}


.incolorleftcol {
	margin-top: -5em;
}

div.center > figcaption:nth-child(2) {
	padding-top: 5px;
	font-size: 14px;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: agrandir;
	font-weight: normal;
	text-align: left;
	padding-bottom: 250px;
}

.titlelist {
	font-size: 14px;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: poppins;
	font-weight: bold;
}

.itemlist {
	padding-left: 20px;
	font-size: 14px;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: poppinsreg;
	font-weight: normal;
}



#descriptionDA {
	font-size: 17px;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: agrandir;
	font-weight: normal;
	padding-bottom: 30px;
}






#list1 {

	width: 50%;
	float: left;
	margin-top: 20px;

}

#list1 ol li {

	font-size: 20px;

}


@media (max-width: 800px) {
	#gallery {
	  flex-direction: column;
	}
  }

  
  .bg {
	background-image: url("contact_photo/mainbleu.png");
  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  #contacts > a > img {
	display: inline-block;
	float:left;
	margin-left: 300px;
	padding: 0px;
  }

  #contacts > a  {
	
	
	display: inline-block;
	text-decoration: none;
	color: black;
}

#contacts {
	margin-top: 30px;
	align-content: center;
}

#mail {
	margin-top: 120px;
}



.figcationsright {
	float: right;
	font-family: poppins;
	padding-left: 50px;
	padding-top: 16px;
}



.gallery {

	margin-left: 100px;

}

#table,
tr {
    width: 100%;
}
td {
  	border: 6px solid transparent;

    width: 50%;
    height: 100px;
}

thead,
tfoot {
    color: rgb(0, 155, 13);
}

#backtotop {

	width: 100%;
	text-align: center;
	display: block;

}


.btnPopup{
background-color: orangered;
padding: 1em 2em;
cursor: pointer;
}

.btnPopup:hover{
background-color: rgb(192, 192, 192);}

.overlay {
display:none;
}

.popup{
margin: 10% auto;
width : 70%;
background-color: rgb(243, 243, 243);
padding: 1em;
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
border-radius: 5px;
}

.btnClose {
float: right;
font-size:16pt;
cursor: pointer;
color: rgb(26, 26, 26);
}





* {
	margin: 0px;
	padding: 0px;
  }
  
  .text {
	  font-size: 10px;
	  font-family: agrandir;
	  padding-left: 150px;
	  padding-top: 200px;
	width: 21%;
  }
  
.text > h1 {
	font-family: agrandir;
}
.text > h2 {
	padding-top: 10px;
	font-family: poppinsreg;
}

  #text-l {
	float: left;
  }
  
  #text-r {
	float: right;
  }
  
  #text-l:before, #text-r:before {
	content: ""; 
	width: 70px; 
	height: 70px;
  }
  
  #text-l:before {

	float: right;
  }
  
  #text-r:before {
	float: left;
  }
.padtop {
	margin-top: 500px;
}

.blue {

}
  
  .image {
	padding-top: 50px;
	height: 600px;
	position: absolute;
	left: 37%;
	margin-left: auto;
	margin-right: auto;

  }

  .imageright {
width: 50%;

float: right;
  }

  .imright {
	  padding-top: 50px;
  }




.mast {
	display: grid;
}
.paddbot {
	padding-bottom: 100px;
}





