@font-face {
	font-family: agrandir;
	src: url(agrandir.otf);
}

@font-face {
	font-family: poppins;
	src: url(Poppins-Medium.ttf);
}

@font-face {
	font-family: poppinsreg;
	src: url(Poppins-Regular.ttf);
}

@media only screen and (min-width: 1026px) {
    #logo {
        display: none;
    }
}

#logo {
	position: absolute;
    left: 2.8em;
    top: 1.07em;
}

#titre
{
	padding-top: 2.85em;
	font-size: 0.9837962962962963vw;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: agrandir;
	font-weight: normal;
}

#menu
{
	padding-top: 0.93em;
	color: rgb(0, 0, 0);
	text-align: center;
	margin-bottom: 1.25em;
	
}



#DA
{
	font-family: agrandir;
	font-size: 0.7523148148148148vw;
	padding-bottom: 1.875em;
}

#menu a {
	margin-left: 1.25em;
	font-family: agrandir;
	font-style: bold;
	color: black;
	font-size: 0.7523148148148148vw;
	text-decoration: none;

}
#menu h2 {
	word-spacing: 12.5em;
}

#gallery {
	display: flex;
  }
  
#gallery .column {

	flex: 50%;
  }



.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.gallery__img {
	
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.gallery__img {
	margin-right: 6.25em;
}

.gallery__item--1 {
	z-index: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
}

.gallery__item--2 {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	z-index: 2;
}

.gallery__item--3 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 6;
	
  }


.gallery__item--4 {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 5;
}

.gallery__item--5 {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 7;
	z-index: 2;
}

#redgrid {
	margin-top: 1em;
	grid-row: 4/8;
}

#bleuforme {
	z-index: 1;
	rotate: -90deg;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}

#imgbleuforme {
	margin-top: 11.574074074074074vw;
}

.galleryincolors {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 4.62962962962963vw;
	margin-left: 6.481481481481482vw;
	margin-right: 6.481481481481482vw;
	z-index: 2;
position: relative;

}

#columnscontact {
	display: flex;
  }
  
#columnscontact .column {
	padding-left: 9.375em;
	padding-right: 9.375em;
	flex: 50%;
  }




#menu img {

	width: 3.125em;
	height: auto;
	float: right;
	position: absolute;
	top: 1.8125em;
	right: 2.5em;
}

#column2 {
	font-size: 1.0416666666666667vw;
	margin-top: -3em;
	padding-top: 8.125em;
}
.title {
	font-size: 0.9837962962962963vw;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: agrandir;
	font-weight: normal;
}

#Experienceprotitre {
	padding-top: 5.625em;
	padding-bottom: 1.25em;
}

.blackline {
	margin-bottom: 5em;
}

.etude {
	
}

#photo6 {
	width: 34.72222222222222vw;
}

#photo14 {
	width: 34.72222222222222vw;

}

#photo5 {
	margin-top: 7.15em;
	width: 39.629629629629626vw;
}

#photo15 {
	width: 32.407407407407405vw;
}

#photo13 {
	width: 23.88888888888889vw;

}
#photo17 {
	width: 34.289vw;

}
#photo16 {
	width: 32.407407407407405vw;

}
#photo12 {
	width: 32.407407407407405vw;

}

#photo8 {
	position: relative;
	width: 32.407407407407405vw;
	display: block;
}

.firstrightelement {
	margin-top:-7em;

}

.posterblue {
	position: absolute;
	margin-left: 7.14em;
	margin-top: -3.57em;
	border: 0.07em solid rgb(0, 0, 0);
}

.posterorange {
	margin-left: 8.2em;
	margin-top: -57.14em;
	position: absolute;
	border: 0.07em solid rgb(0, 0, 0);
}

#orangeball {
	z-index: 1;
	
}

.blue {
	position: relative;
	margin-left: 32.407407407407405vw;
	margin-top: 0.18em;
}

.red {
	
position: relative;
z-index: 1;
}

.firstimage {
	margin-top: -56.25em;
	position: relative;
}

#mockupred {
	z-index: 2;
}


.incolorleftcol {
	margin-top: -5em;
}

div.center > figcaption:nth-child(2) {
	padding-top: 0.3125em;
	font-size: 0.8101851851851852vw;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: agrandir;
	font-weight: normal;
	text-align: left;
	padding-bottom: 15.625em;
}

.titlelist {
	font-size: 0.8101851851851852vw;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: poppins;
	font-weight: bold;
}

.itemlist {
	padding-left: 1.25em;
	font-size: 0.8101851851851852vw;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: poppinsreg;
	font-weight: normal;
}



#descriptionDA {
	font-size: 0.9837962962962963vw;
	font-style: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: agrandir;
	font-weight: normal;
	padding-bottom: 1.8225em;
}






#list1 {

	width: 50%;
	float: left;
	margin-top: 1.25em;

}

#list1 ol li {

	font-size: 1.25em;

}


@media (max-width: 800px) {
	#gallery {
	  flex-direction: column;
	}
  }



  .bg {
	background-image: url("contact_photo/mainbleu.png");
  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

.mainblueback {
	
        background-image: url("contact_photo/mainbleu.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
        background-size: 50%;
      
}

  #contacts > a > img {
	display: inline-block;
	float:left;
	margin-left: 18.75em;
	padding: 0px;
  }

  #contacts > a  {
	
	
	display: inline-block;
	text-decoration: none;
	color: black;
}

#contacts {
	margin-top: 0.3125em;
	align-content: center;
}

.contactimage {
	width: 3.4722222222222223vw;
}

#mail {
	margin-top: 7.5em;
}



.figcationsright {
	float: right;
	font-family: poppins;
	padding-left: 3.125em;
	padding-top: 1em;
}



.gallery {

	margin-left: 6.25em;

}

#table,
tr {
    width: 100%;
}
td {
  	border: 6px solid transparent;

    width: 50%;
    height: 6.25em;
}

thead,
tfoot {
    color: rgb(0, 155, 13);
}





* {
	margin: 0px;
	padding: 0px;
  }
  
  .text {
	  font-size: 0.5787037037037037vw;
	  font-family: agrandir;
	  padding-left: 9.375em;
	  padding-top: 12.5em;
	width: 21%;
  }
  
.text > h1 {
	font-family: agrandir;
}
.text > h2 {
	padding-top: 0.625em;
	font-family: poppinsreg;
}

  #text-l {
	float: left;
  }
  
  #text-r {
	float: right;
  }
  
  #text-l:before, #text-r:before {
	content: ""; 
	width: 4.375em; 
	height: 4.375em;
  }
  
  #text-l:before {

	float: right;
  }
  
  #text-r:before {
	float: left;
  }
.padtop {
	margin-top: 31.25em;
}

.blue {

}
  
  .image {
	padding-top: 3.125em;
	height: 34.72222222222222vw;
	position: absolute;
	left: 37%;
	margin-left: auto;
	margin-right: auto;

  }

  .imageright {
width: 50%;

float: right;
  }

  .imright {
	  padding-top: 3.125em;
  }




.mast {
	display: grid;
}
.paddbot {
	padding-bottom: 6.25em;
}







/* ARKAIK */

#arkaik1 {
	width: 34.25925925925926vw;
	height: auto;
	margin-top: 2.7777777777777777vw;
	margin-left: 23.14814814814815vw;
	z-index: 2;
}

#arkaik9 {
	position: absolute;
	rotate: 15deg;
	z-index: 1;
	width: 50vw;
}

.margintopnegative {
	margin-top: -4.593vw;;
	margin-left: -3.3055555555555554vw;
	padding-right: 4.62962962962963vw;
}

#arkaik13 {
	margin-top: 7.407407407407407vw;
	margin-left: 64.81481481481481vw;
	z-index: 3;
	position: relative;
	width: 29vw;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.5787037037037037vw;
	grid-auto-rows: minmax(6.25em, auto);
	width: 18.51851851851852vw;
margin-top: -9.25925925925926vw;
display: inline-grid;

grid-template-columns: 18.51851851851852vw 18.51851851851852vw 18.51851851851852vw;
grid-template-rows: 18.51851851851852vw 18.51851851851852vw;
}

.six {
	grid-column: 3;
	grid-row: 4;
}

.columnarkaik {
	float: left;
	width: 31%;
	padding-right: 0.5787037037037037vw;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  @media screen and (max-width: 600px) {
	.columnarkaik {
	  width: 100%;
	}
  }
.grid3by2 {
	z-index: 1;
	position: relative;
	width: 37.03703703703704vw;
	margin-top: -21.296296296296298vw;
	margin-left: 5.555555555555555vw;
  
}

#arkaik10 {
	position: relative;
	margin-top: -7.407407407407407vw;
	rotate: -30deg;
	width: 81vw;

}

#arkaik8 {
	float: right;
	position:absolute;
	margin-top: 4.62962962962963vw;
	margin-left: -16.203703703703702vw;
	width: 29vw;
}

#arkaik11 {
	position:absolute;
	margin-top: 18.51851851851852vw;
	margin-left: -70.83333333333333vw;
	width: 29vw;
}

/* IMMERSION */


.immersion {
	margin-top: 12em;
	background-color:#99ccff;
}

.immersionpicture {
	margin-bottom: 5em;
}

#immersion1 {

}

#immersion2 {
	width: 40em;
	margin-right: 0;
}

#immersion3 {

}

#immersion4 {
	width: 40em;
	margin-bottom: 40em;
}

#immersion5 {

}

.textimmersion {
	font-size: 0.5787037037037037vw;
	font-family: agrandir;
	padding-left: 9.375em;
	margin-top: -5em;
	margin-bottom: 40em;
  width: 50%;
}

.textimmersion > h2 {
	padding-top: 0.625em;
	font-family: poppinsreg;
}

#gallery .columnimmersion {
	width: 70%;
	background-color: white;
}


#gallery .columnimmersion div{
	margin-left: 5em;
	margin-bottom: 50em;
}

/* POTHEADS*/

.potheads {

}

.potheadstxt{
	color: white;
	font-size: 0.625vw;
	font-family: agrandir;
	padding-left: 9.37em;
	padding-top: 5em;
}

.potheadstxt h2{
	padding-top: 1rem;
	font-family: poppinsreg;
}

.gallerypotheads{
	background-color: white;
	align-items: center;
	justify-items: center;
	margin-top: 6em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 5em;
	position: relative;
	padding-left: 2em;
	padding-right: 2em;
}

.gallery__item--1-pothead{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 9;
	z-index: 2;
}

.gallery__item--2-pothead{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 9;
}

.gallery__item--3-pothead{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 9;
}

.bluebackground {
	background-color: blue;
	grid-column: 1 / 4;
	grid-row-start: 3;
	grid-row-end: 9;
}

.backgroundblue {
	background-color: rgb(15,31,161);
	grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 9;
width: 150%;
height: 100%;
}

.gallerypotheads_twobytwo {
	background-color: rgb(15,31,161);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 15rem;
	padding-top: 5em;
margin-left: 10rem;
margin-right: 10rem;
}

.gallery__item--4-potheads {
	grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
}

.gallery__item--5-potheads {
	grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
}

/* PREMIER */

.premiertxt{
	color: white;
	font-size: 0.625vw;
	font-family: agrandir;
	padding-left: 9.37em;
	padding-top: 5em;
}

.premierstxt h2{
	padding-top: 1rem;
	font-family: poppinsreg;
}

.gallerypremier{
	background-color: rgb(59, 107, 93);
	align-items: center;
	justify-items: center;
	margin-top: 6em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 5em;
	position: relative;
	padding-left: 2em;
	padding-right: 2em;
}

.gallery__item--2-premier{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

